:root {
  --background-colour: #eee;
  --container-colour: #fff;
  --input-colour: #f0f0f0;
  --button-colour: #eee;
  --button-disabled-colour: #ddd;
  --message-colour: #f0f0f0;
  --message-actions-colour: #eee;

  --text-colour: #000;
  --placeholder-colour: #aaa;
  --border-colour: #999;
  --button-disabled-text-colour: #555;

  --dev-button-colour: #ff5c8a;
  --dev-button-border-colour: #cc3366;
  --dev-button-text-colour: #000;
  --dev-button-disabled-colour: #ffc2d4;
  --dev-button-disabled-text-colour: #666;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-colour: #222;
    --container-colour: #444;
    --input-colour: #666;
    --button-colour: #555;
    --button-disabled-colour: #444;
    --message-colour: #666;
    --message-actions-colour: #666;

    --text-colour: #eee;
    --placeholder-colour: #aaa;
    --border-colour: #222;
    --button-disabled-text-colour: #aaa;

    --dev-button-colour: #d6336c;
    --dev-button-border-colour: #a61e4d;
    --dev-button-text-colour: #fff;
    --dev-button-disabled-colour: #552233;
    --dev-button-disabled-text-colour: #aaa;
  }
}

* {
  box-sizing: border-box;
  overflow-wrap: break-word;

  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: var(--text-colour);
}

body {
  margin: 0;
  height: 100vh;

  display: flex;
  justify-content: center;
  align-items: center;

  background-color: var(--background-colour);
}

#messagesContainer {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 15fr 1fr;
  gap: 5%;

  grid-column: 1;
  grid-row: 1 / span 2;

  justify-content: space-between;
  align-items: center;
}

#messages {
  display: flex;
  flex-direction: column;
  gap: 10px;

  height: 100%;
  width: 100%;

  grid-column: 1;
  grid-row: 1;

  overflow-y: auto;
  border-radius: 10px;
}

#inputContainer {
  display: flex;
  justify-content: space-between;

  height: 100%;
  width: 100%;

  grid-row: 2;
}

#messageInput {
  width: 82.5%;
}

#sendMessage {
  width: 16.25%;
}

#userContainer {
  display: flex;
  flex-direction: column;
  gap: 10px;

  grid-column: 2;
  grid-row: 1;
}

#signedIn,
#signedOut {
  display: none;
  flex-direction: column;
  gap: 10px;

  height: 100%;
}

#updateNickname {
  width: 16.25%;
  font-size: 0.5vw;
}

#nicknameInput {
  width: 82.5%;
}

#persistent {
  display: flex;
}

.grid {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 2fr 1fr;
  gap: 5%;

  height: 80vh;
  width: 80vw;
}

.container {
  padding: 15px;

  background-color: var(--container-colour);
  border-radius: 10px;
}

.message {
  display: flex;
  flex-direction: column;

  padding: 10px;

  background-color: var(--message-colour);
  border-radius: 10px;
}

.message-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.message-author {
  font-weight: bold;
}

.message-timestamp {
  font-size: 0.8em;
}

.message-subheader {
  display: flex;
  gap: 10px;

  height: 100%;
  align-items: center;
  justify-content: center;
}

.message-actions {
  display: flex;

  height: 100%;
  align-items: center;
  justify-content: center;

  background-color: var(--message-actions-colour);
  border-radius: 10px;
}

.message-author-header {
  display: flex;
  gap: 10px;

  height: 100%;
  align-items: center;
  justify-content: center;
}

.message-author-tag {
  background-color: var(--button-colour);
  border-radius: 5px;
  border: 1px solid var(--border-colour);

  padding: 2px 4px;

  font-size: 0.8em;
}

.dev-button {
  background-color: var(--dev-button-colour);
  border: 1px solid var(--dev-button-border-colour);
  color: var(--dev-button-text-colour);
}

.dev-button:disabled {
  background-color: var(--dev-button-disabled-colour);
  color: var(--dev-button-disabled-text-colour);
}

.input-wrapper {
  display: flex;
  justify-content: space-between;

  width: 100%;
  height: 10%;
}

input {
  background-color: var(--input-colour);
  border: 1px solid var(--border-colour);
  border-radius: 5px;

  display: flex;
  min-height: 10%;

  padding: 0 5px;
}

input::placeholder {
  color: var(--placeholder-colour);
}

input:disabled {
  cursor: default;
  background-color: var(--button-disabled-colour);
}

button {
  background-color: var(--button-colour);
  border: 1px solid var(--border-colour);
  border-radius: 5px;

  cursor: pointer;
  padding: 2px 4px;
}

button:disabled {
  cursor: default;
  background-color: var(--button-disabled-colour);
  color: var(--button-disabled-text-colour);
}

hr {
  width: 85%;
  height: 2px;

  border: none;
  background-color: var(--border-colour);
}

@media screen and (max-width: 980px) {
  .grid {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr;
  }

  #messagesContainer {
    grid-column: 1;
    grid-row: 2;
  }

  #userContainer {
    grid-column: 1;
    grid-row: 1;
  }
}
